version: '3.9'

services:
  edufy-pod-service:
    build:
      context: ./EdufyPodcastService
      dockerfile: Dockerfile
    container_name: edufy-podcast-service
    environment:
      SPRING_APPLICATION_NAME: EdufyPodcastService
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-podcast:3306/podcastdb
      SPRING_DATASOURCE_USERNAME: myuser
      SPRING_DATASOURCE_PASSWORD: mypassword
      SPRING_JPA_HIBERNATE_DDL_AUTO: create
      SPRING_PROFILES_ACTIVE: prod
    ports:
      - "8081:8080"
    networks:
      - edufy-network

  edufy-pod-producer-service:
    build:
      context: ./EdufyPodProducerService
      dockerfile: Dockerfile
    container_name: edufy-pod-producer-service

    environment:
      SPRING_APPLICATION_NAME: EdufyPodProducerService
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-podproducer:3306/podproducerdb
      SPRING_DATASOURCE_USERNAME: myuser
      SPRING_DATASOURCE_PASSWORD: mypassword
      SPRING_JPA_HIBERNATE_DDL_AUTO: create
      SPRING_PROFILES_ACTIVE: prod
    ports:
      - "8082:8080"
    networks:
      - edufy-network

  edufy-pod-season-service:
    build:
      context: ./EdufyPodSeasonService
      dockerfile: Dockerfile
    container_name: edufy-pod-season-service
    environment:
      SPRING_APPLICATION_NAME: EdufyPodSeasonService
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-podseason:3306/podseasonsdb
      SPRING_DATASOURCE_USERNAME: myuser
      SPRING_DATASOURCE_PASSWORD: mypassword
      SPRING_JPA_HIBERNATE_DDL_AUTO: create
      SPRING_PROFILES_ACTIVE: prod
    ports:
      - "8083:8080"
    networks:
      - edufy-network

networks:
  edufy-network:
    external: true
    name: edufy-network